# API Base URL.
# - For Web browser testing: http://localhost:3001/api/v1
# - For Android Emulator: http://10.0.2.2:3001/api/v1
# - For physical mobile device testing (Expo Go): http://<YOUR_LOCAL_IP>:3001/api/v1 (e.g. 10.1.3.156)
EXPO_PUBLIC_API_URL=http://localhost:3001/api/v1

# Optional local override for the linked Expo project.
EAS_PROJECT_ID=0d037822-45e4-4e74-9101-13e054e72dc2
